/* || Base styles */
:root {
  box-sizing: border-box;
  font-size: calc(1vw + 0.6em);
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* || Header styles */
.header {
  background-color: #222;
  padding: 1.2em 0;
  margin-bottom: 1.5em;
}

.header__inner {
  max-width: 1080px;
  width: 95%;
  margin: 0 auto;
}

.header__text {
  color: #fff;
  margin: 0;
  font-weight: normal;
  font-size: 1.5rem;
}

/* || Main content styles */
.main-content {
  max-width: 1080px;
  width: 95%;
  margin: 1.5em auto;
  display: grid;
  gap: 1.5em;
  grid-template-areas:
    "bank-section"
    "work-section"
    "laptop-selection-area"
    "laptop-information-area";
}

.tile {
  background-color: #f5f5f5;
  padding: 1em;
  border-radius: 0.7em;
}

.tile__header,
.tile__subheader {
  margin: 0;
}

.tile:nth-child(1) {
  grid-area: bank-section;
  display: flex;
  flex-direction: column;
}

.tile:nth-child(2) {
  grid-area: work-section;
  display: flex;
  flex-direction: column;
}

.tile:nth-child(3) {
  grid-area: laptop-selection-area;
}

.tile:nth-child(4) {
  grid-area: laptop-information-area;
}

.tile--featured {
  border: 1px solid #ddd;
}

.tile__list {
  margin-bottom: 4.5em;
  flex-grow: 1;
}

.tile__item {
  display: flex;
  justify-content: space-between;
}

.tile__item--loan {
  display: none;
}

.tile__actions {
  display: flex;
}

.tile__select {
  font-size: 100%;
  width: 100%;
  border-radius: 0.3em;
  padding: 0.5em;
  margin: 1em 0;
}

.tile__features-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tile__image {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.tile__price {
  font-weight: bold;
}

.button {
  padding: 0.8em 2em;
  border-radius: 0.5em;
  border: none;
  font-size: 100%;
  width: 100%;
  cursor: pointer;
}

.button + .button {
  margin-left: 1em;
}

.button--yellow {
  background-color: #ecec31;
  border: 1px solid #d1d11a;
}

.button--blue-dark {
  background-color: #4169e1;
  color: #fff;
  border: 1px solid #274fc9;
}

.button--blue-light {
  background-color: #00bfff;
  border: 1px solid #0296c7;
  text-transform: uppercase;
  font-weight: bold;
}

.button--green {
  background-color: #00fa9a;
  border: 1px solid #01d483;
}

.button--orange {
  background-color: #ffa500;
  border: 1px solid #da8e01;
  display: none;
}

/* || Media queries */
@media screen and (min-width: 560px) {
  .header {
    padding: 0.8em 0;
  }

  .header__text {
    font-size: 2rem;
  }
}

@media screen and (min-width: 835px) {
  .main-content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "bank-section work-section"
      "laptop-selection-area laptop-selection-area"
      "laptop-information-area laptop-information-area";
  }

  .tile--featured {
    display: flex;
    justify-content: space-between;
  }

  .tile__image {
    max-width: 20%;
    margin: 0;
  }

  .tile__body {
    width: 40%;
  }
}
